@import url('https://fonts.googleapis.com/css2?family=Finger+Paint&display=swap');


html,
body {
    height: 100%;

}

#container {
    padding: 100px;
    background-color: slategray;
    height: 100vh;
}

#grid {
    width: 800px;
    display: grid;
    margin-inline: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
}

.postit {
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 5px black;
}

h3 {
    font-family: 'Finger Paint';
    font-size: 30px;
    padding: 10px;
}

p {
    font-family: 'Finger Paint';
    font-size: 15px;
}

#task1,
#task5,
#task7 {
    background: linear-gradient(0deg, #BDBDA3, #FFFFCF);
    transform: rotate(-4deg);
}

#task2,
#task4,
#task8 {
    background: linear-gradient(0deg, #9EB5A1, #CCFECE);
    transform: rotate(4deg);


}

#task3,
#task6 {
    background: linear-gradient(0deg, #8B8C9B, #CACAFA);
    transform: rotate(-9deg);

}

#task1:hover,
#task2:hover,
#task3:hover,
#task4:hover,
#task5:hover,
#task6:hover,
#task7:hover,
#task8:hover {
    transform: rotate(0deg) scale(1.2);
    transition: .3s;
    z-index: 10;
}